.section {
    display: flex;
    margin: 0 5vw;
    gap: 5vw;
}

.projectList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* flex: 1 1 50%; */
    width: 30%;
    /* min-width: 300px; */
}

.projectList button {
    color: white;
    line-height: 100%;
}

.card {
    background-color: #23AE0A;
    box-shadow: -5px -5px 0 0.5px white, 5px 5px 0 0.5px black;
}

.card h2 {
    font-size: 32px;
    font-weight: lighter;
}
.projectList button {
    font-size: 30px 
}

@media screen and (max-width:1020px) {
    .section {
        flex-wrap: wrap;
    }
    .card {
        display:none;
    }
    .projectList {
        flex-basis: 100%;
        gap:10px;
    }
    .projectList button {
        font-size: 16px;
        
    }
}

@media screen and (max-width:332px) {
    .projectList button {
        font-size: 14px;
        
    } 
}