.leftPipe {
    display: flex;
    /* align-items: center; */
    position:absolute;
    top: -120px;
    height: 120px;
}

.leftPipe div {
    background: url(../../../assets/images/pipe_pieces/pipe-base-open-from-right-side.jpg);
    background-size: 7.6px;
    /* align-self:center; */
    margin: auto 0;
    /* height:115px; */
    height:106px;
    background-repeat: repeat-x;
    width:10vw;
}