.section {
    display: flex;
    margin: 0 10vw;
    align-items: center;
    gap: 100px;
}

.contactMeText {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactMeText h2 {
    font-size: 40px;
}

.contactMeText h3 {
    font-size: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    padding:10px;
    gap: 15px;
}

.form div input,
.form div textarea {
    padding: 0 10px;
}

.alternateText {
    display: none;
}

@media screen and (max-width: 1300px) {
    .contactMeText h2 {
        font-size: 20px;
    }
    .contactMeText h3 {
        font-size: 12px;
    }
}

@media screen and (max-width: 958px) {
    .section {
        gap: 10px;
    }
    .contactMeText {
        min-width: 266px;
    }
    .card {
        width:300px;
    }
    .form div label,
    .form div input {
        font-size: 12px;
       width: 100%;
    }
    .form div textarea {
        font-size: 12px;
        width: 260px;
    }
}

@media screen and (max-width: 752px) {
    .section {
        flex-wrap: wrap-reverse;
        gap: 10px;
    }
    .contactMeText {
        text-align: center;
    }
    .contactMeText h2 {
        display: none;
    }
    .alternateText {
        display: block;
        margin: 0 auto;
    }
    .card {
        flex-basis: 100%;
        padding: 5px;
    }
    .form div {
        display: flex;
        flex-flow:column wrap;
        /* flex: 1 0 50%; */
    }
    .form div label,
    .form div input,
    .form div textarea {
        font-size: 12px;
        width: 100%;
    }
}