.section {
    display: flex;
    /* height:100%; */
    gap: 100px;
    padding: 0 5vw;
}

.card {
    background-color: #008C8D;
    box-shadow: -5px -5px 0 0.5px white, 5px 5px 0 0.5px #414141;
}

.profile {
    flex: 0 0 290px;
    position:relative;
    height: 375px;
    margin: auto 0
}

.section .profile img {
    position:absolute;
    /* height: 400px; */
    width: 270px;
    bottom: 10px
}

.aboutMeContext {
    display: flex;
    flex-direction: column;
    gap: 2vh
}

.aboutMeContext {
    flex: 1 1 65%;
    margin: auto 0;
}

.aboutMeText h2 {
    font-size: 36px;
}

.aboutMeText h3 {
    font-size: 16px;
}

.section div span {
    color: #008C8D;
}

.technologies {
    display: flex;
    height: 65px;
}

.section .aboutMeContext .technologies img {
    width: 65px;
}

@media screen and (max-width: 1184px) {
    .section {
        gap: 4vw;
        margin-bottom: 100px;
    }
    .aboutMeContext {
    
    }
    .aboutMeContext h2 {
        /* font-size: 20px; */
        font-size: 2vw;
    }
    .aboutMeContext h3 {
        /* font-size: 12px; */
        font-size: 1.4vw;
    }
    .section .aboutMeContext .technologies img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 752px) {
   .section {
       flex-wrap: wrap;
       margin: 0;
   }
   .section div {
       flex:1 0 100%;
   }
   .section .profile {
       display: none;
   }
   .aboutMeContext h2 {
    font-size: 20px;
    /* font-size: 2vw; */
}
    .aboutMeContext h3 {
    font-size: 12px;
    /* font-size: 1.4vw; */
}
}